.tiled-map {

}
.tiled-map .tiles-row {
    white-space:nowrap;
    margin: 0px;
    padding: 0px;
    height: 40px;
}
.tiled-map .tiles-row .tile {
    display: inline-block;
    width: 40px;
    height: 40px;
}
.tile.tile-0 {
    background-image: url('../img/map/0.gif');
}
.tile.tile-1 {
    background-image: url('../img/map/1.gif');
}
.tile.tile-2 {
    background-image: url('../img/map/2.gif');
}
.tile.tile-4 {
    background-image: url('../img/map/4.gif');
}
.tile.tile-5 {
    background-image: url('../img/map/5.gif');
}
.tile.tile-6 {
    background-image: url('../img/map/6.gif');
}
.tile.tile-7 {
    background-image: url('../img/map/7.gif');
}
.tile.tile-8 {
    background-image: url('../img/map/8.gif');
}
.tile.tile-9 {
    background-image: url('../img/map/9.gif');
}
.tile.tile-10 {
    background-image: url('../img/map/10.gif');
}
.tile.tile-11 {
    background-image: url('../img/map/11.gif');
}
.tile.tile-12 {
    background-image: url('../img/map/12.gif');
}
.tile.tile-13 {
    background-image: url('../img/map/13.gif');
}
.tile.tile-14 {
    background-image: url('../img/map/14.gif');
}
.tile.tile-15 {
    background-image: url('../img/map/15.gif');
}
.tile.tile-16 {
    background-image: url('../img/map/16.gif');
}
.tile.tile-17 {
    background-image: url('../img/map/17.gif');
}
.tile.tile-18 {
    background-image: url('../img/map/18.gif');
}
.tile.tile-19 {
    background-image: url('../img/map/19.gif');
}
.tile.tile-20 {
    background-image: url('../img/map/20.gif');
}
.tile.tile-21 {
    background-image: url('../img/map/21.gif');
}
.tile.tile-22 {
    background-image: url('../img/map/22.gif');
}
.tile.tile-23 {
    background-image: url('../img/map/23.gif');
}
.tile.tile-24 {
    background-image: url('../img/map/24.gif');
}
.tile.tile-25 {
    background-image: url('../img/map/25.gif');
}
.tile.tile-26 {
    background-image: url('../img/map/26.gif');
}
.tile.tile-27 {
    background-image: url('../img/map/27.gif');
}
.tile.tile-28 {
    background-image: url('../img/map/28.gif');
}
.tile.tile-29 {
    background-image: url('../img/map/29.gif');
}
.tile.tile-30 {
    background-image: url('../img/map/30.gif');
}
.tile.tile-31 {
    background-image: url('../img/map/31.gif');
}
.tile.tile-32 {
    background-image: url('../img/map/32.gif');
}
.tile.tile-33 {
    background-image: url('../img/map/33.gif');
}
.tile.tile-34 {
    background-image: url('../img/map/34.gif');
}
.tile.tile-35 {
    background-image: url('../img/map/35.gif');
}
.tile.tile-36 {
    background-image: url('../img/map/36.gif');
}
.tile.tile-37 {
    background-image: url('../img/map/37.gif');
}
.tile.tile-38 {
    background-image: url('../img/map/38.gif');
}
.tile.tile-39 {
    background-image: url('../img/map/39.gif');
}

.tile .mob {
    width: 40px;
    height:40px;
    position: absolute;
    background-image: url('../img/units/u7_h.gif');
}
.tile .mob .name {
    position: absolute;
    color: white;
    font-size: 9px;
    width: 50px;
    text-align: center;
    margin-top: -10px;
    margin-left: -5px;
}
.tile .object {
    width: 40px;
    height: 40px;
    position: absolute;
    background-image: url('../img/map/39.gif');
}
.mob.model-1 {
    background-image: url('../img/units/u1_00.gif');
}
.mob.model-2 {
    background-image: url('../img/units/u1_01.gif');
}
.mob.model-3 {
    background-image: url('../img/units/u1_02.gif');
}
.mob.model-4 {
    background-image: url('../img/units/u1_03.gif');
}
.mob.model-5 {
    background-image: url('../img/units/u1_04.gif');
}
.mob.model-6 {
    background-image: url('../img/units/u1_05.gif');
}
.mob.model-7 {
    background-image: url('../img/units/u1_06.gif');
}
.mob.model-8 {
    background-image: url('../img/units/u1_07.gif');
}
.mob.model-9 {
    background-image: url('../img/units/u1_08.gif');
}
.mob.model-10 {
    background-image: url('../img/units/u1_09.gif');
}
.object.model-food-0 {
    background-image: url('../img/objects/food-0.gif');
}
.object.model-food-1 {
    background-image: url('../img/objects/food-1.gif');
}
.object.model-food-2 {
    background-image: url('../img/objects/food-2.gif');
}
.object.model-food-3 {
    background-image: url('../img/objects/food-3.gif');
}
.object.model-food-4 {
    background-image: url('../img/objects/food-4.gif');
}
