body {
	overflow: hidden;
	background-color: black;
}
.tiled-map {

}
.tiled-map .tiles-row {
    white-space:nowrap;
    margin: 0;
    padding: 0;
    height: 40px;
}
.tiled-map .tiles-row .tile {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url('terrain-s.gif');
}
.tiled-map .tiles-row .tile .tile-transition {
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url('transition-s.gif');
    background-position: 40px 40px;
}
.mob {
    cursor: pointer;
    width: 40px;
    height:40px;
    position: absolute;
    background-image: url('animal.gif');
}
.mob .name {
    position: absolute;
    color: white;
    font-size: 9px;
    width: 120px;
    text-align: center;
    margin-top: -10px;
    margin-left: -40px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.mob .status {
    position: absolute;
    color: white;
    font-size: 9px;
    width: 50px;
    text-align: center;
    margin-top: 35px;
    margin-left: -5px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.mob.selected {
    border: 1px dotted #cccccc;
    margin-top: -1px;
    margin-left: -1px;
}
/**************************
 *  Mobs
 **************************/
.mob.model-1 ,
.mob.model-1.dir-E,
.mob.model-1.dir-N.dir-E {
    background-position: 0 0;
}
.mob.model-1.dir-N,
.mob.model-1.dir-N.dir-W {
    background-position: 0 -40px;
}
.mob.model-1.dir-S,
.mob.model-1.dir-S.dir-E {
    background-position: 0 -80px;
}
.mob.model-1.dir-W,
.mob.model-1.dir-S.dir-W {
    background-position: 0 -120px;
}
.mob.model-2 ,
.mob.model-2.dir-E,
.mob.model-2.dir-N.dir-E {
    background-position: -40px 0;
}
.mob.model-2.dir-N,
.mob.model-2.dir-N.dir-W {
    background-position: -40px -40px;
}
.mob.model-2.dir-S,
.mob.model-2.dir-S.dir-E {
    background-position: -40px -80px;
}
.mob.model-2.dir-W,
.mob.model-2.dir-S.dir-W {
    background-position: -40px -120px;
}
.mob.model-3 ,
.mob.model-3.dir-E,
.mob.model-3.dir-N.dir-E {
    background-position: -80px 0;
}
.mob.model-3.dir-N,
.mob.model-3.dir-N.dir-W {
    background-position: -80px -40px;
}
.mob.model-3.dir-S,
.mob.model-3.dir-S.dir-E {
    background-position: -80px -80px;
}
.mob.model-3.dir-W,
.mob.model-3.dir-S.dir-W {
    background-position: -80px -120px;
}
/**************************
 *  Objects
 **************************/
 .tile .object {
    width: 40px;
    height: 40px;
    position: absolute;
    background-image: url('/img/map/39.gif');
}
.object.model-food-1 {
    background-image: url('food/apple.gif');
}
.object.model-food-2 {
    background-image: url('food/ham.gif');
}

.object.eaten-10 {
    background-position: 0 0;
}
.object.eaten-9 {
    background-position: 0 -40px;
}
.object.eaten-8 {
    background-position: 0 -80px;
}
.object.eaten-7 {
    background-position: 0 -120px;
}
.object.eaten-6 {
    background-position: 0 -160px;
}
.object.eaten-5 {
    background-position: 0 -200px;
}
.object.eaten-4 {
    background-position: 0 -240px;
}
.object.eaten-3 {
    background-position: 0 -280px;
}
.object.eaten-2 {
    background-position: 0 -320px;
}
.object.eaten-1 {
    background-position: 0 -360px;
}
/**************************
 *  Tiles
 **************************/
.tiled-map .tiles-row .tile.tile-1,
.tiled-map .tiles-row .tile.tile-1.var-1 {
    background-position: -40px 0;
}
.tiled-map .tiles-row .tile.tile-1.var-2 {
    background-position: -40px -40px;
}
.tiled-map .tiles-row .tile.tile-1.var-3 {
    background-position: -40px -80px;
}
.tiled-map .tiles-row .tile.tile-1.var-4 {
    background-position: -40px -120px;
}
.tiled-map .tiles-row .tile.tile-1.var-5 {
    background-position: -40px -160px;
}
.tiled-map .tiles-row .tile.tile-1.var-6 {
    background-position: -40px -200px;
}
.tiled-map .tiles-row .tile.tile-1.var-7 {
    background-position: -40px -240px;
}
.tiled-map .tiles-row .tile.tile-1.var-8 {
    background-position: -40px -280px;
}
.tiled-map .tiles-row .tile.tile-2,
.tiled-map .tiles-row .tile.tile-2.var-1 {
    background-position: -80px 0;
}
.tiled-map .tiles-row .tile.tile-2.var-2 {
    background-position: -80px -40px;
}
.tiled-map .tiles-row .tile.tile-2.var-3 {
    background-position: -80px -80px;
}
.tiled-map .tiles-row .tile.tile-2.var-4 {
    background-position: -80px -120px;
}
.tiled-map .tiles-row .tile.tile-2.var-5 {
    background-position: -80px -160px;
}
.tiled-map .tiles-row .tile.tile-2.var-6 {
    background-position: -80px -200px;
}
.tiled-map .tiles-row .tile.tile-2.var-7 {
    background-position: -80px -240px;
}
.tiled-map .tiles-row .tile.tile-2.var-8 {
    background-position: -80px -280px;
}
.tiled-map .tiles-row .tile.tile-3,
.tiled-map .tiles-row .tile.tile-3.var-1 {
    background-position: -120px 0;
}
.tiled-map .tiles-row .tile.tile-3.var-2 {
    background-position: -120px -40px;
}
.tiled-map .tiles-row .tile.tile-3.var-3 {
    background-position: -120px -80px;
}
.tiled-map .tiles-row .tile.tile-3.var-4 {
    background-position: -120px -120px;
}
.tiled-map .tiles-row .tile.tile-3.var-5 {
    background-position: -120px -160px;
}
.tiled-map .tiles-row .tile.tile-3.var-6 {
    background-position: -120px -200px;
}
.tiled-map .tiles-row .tile.tile-3.var-7 {
    background-position: -120px -240px;
}
.tiled-map .tiles-row .tile.tile-3.var-8 {
    background-position: -120px -280px;
}
.tiled-map .tiles-row .tile.tile-4,
.tiled-map .tiles-row .tile.tile-4.var-1 {
    background-position: -160px 0;
}
.tiled-map .tiles-row .tile.tile-4.var-2 {
    background-position: -160px -40px;
}
.tiled-map .tiles-row .tile.tile-4.var-3 {
    background-position: -160px -80px;
}
.tiled-map .tiles-row .tile.tile-4.var-4 {
    background-position: -160px -120px;
}
.tiled-map .tiles-row .tile.tile-4.var-5 {
    background-position: -160px -160px;
}
.tiled-map .tiles-row .tile.tile-4.var-6 {
    background-position: -160px -200px;
}
.tiled-map .tiles-row .tile.tile-4.var-7 {
    background-position: -160px -240px;
}
.tiled-map .tiles-row .tile.tile-4.var-8 {
    background-position: -160px -280px;
}
.tiled-map .tiles-row .tile.tile-5,
.tiled-map .tiles-row .tile.tile-5.var-1 {
    background-position: -200px 0;
}
.tiled-map .tiles-row .tile.tile-5.var-2 {
    background-position: -200px -40px;
}
.tiled-map .tiles-row .tile.tile-5.var-3 {
    background-position: -200px -80px;
}
.tiled-map .tiles-row .tile.tile-5.var-4 {
    background-position: -200px -120px;
}
.tiled-map .tiles-row .tile.tile-5.var-5 {
    background-position: -200px -160px;
}
.tiled-map .tiles-row .tile.tile-5.var-6 {
    background-position: -200px -200px;
}
.tiled-map .tiles-row .tile.tile-5.var-7 {
    background-position: -200px -240px;
}
.tiled-map .tiles-row .tile.tile-5.var-8 {
    background-position: -200px -280px;
}
/**************************
 *  Transitions
 **************************/
.tiled-map .tiles-row .tile .tile-transition.side-0-2-8,
.tiled-map .tiles-row .tile .tile-transition.side-4-5-8,
.tiled-map .tiles-row .tile .tile-transition.side-4-1-8,
.tiled-map .tiles-row .tile .tile-transition.side-0-1-8 {
    background-position: 0 0;
}

.tiled-map .tiles-row .tile .tile-transition.side-0-3-1,
.tiled-map .tiles-row .tile .tile-transition.side-0-2-1,
.tiled-map .tiles-row .tile .tile-transition.side-4-5-1,
.tiled-map .tiles-row .tile .tile-transition.side-4-1-1,
.tiled-map .tiles-row .tile .tile-transition.side-0-1-1 {
    background-position: 0 -40px;
}

.tiled-map .tiles-row .tile .tile-transition.side-0-2-9,
.tiled-map .tiles-row .tile .tile-transition.side-4-5-9,
.tiled-map .tiles-row .tile .tile-transition.side-4-1-9,
.tiled-map .tiles-row .tile .tile-transition.side-0-1-9 {
    background-position: 0 -80px;
}

.tiled-map .tiles-row .tile .tile-transition.side-0-2-2,
.tiled-map .tiles-row .tile .tile-transition.side-4-5-2,
.tiled-map .tiles-row .tile .tile-transition.side-4-1-2,
.tiled-map .tiles-row .tile .tile-transition.side-0-1-2 {
    background-position: 0 -120px;
}

.tiled-map .tiles-row .tile .tile-transition.side-0-2-10,
.tiled-map .tiles-row .tile .tile-transition.side-4-5-10,
.tiled-map .tiles-row .tile .tile-transition.side-4-1-10,
.tiled-map .tiles-row .tile .tile-transition.side-0-1-10 {
    background-position: 0 -160px;
}

.tiled-map .tiles-row .tile .tile-transition.side-0-2-3,
.tiled-map .tiles-row .tile .tile-transition.side-4-5-3,
.tiled-map .tiles-row .tile .tile-transition.side-4-1-3,
.tiled-map .tiles-row .tile .tile-transition.side-0-1-3 {
    background-position: 0 -200px;
}

.tiled-map .tiles-row .tile .tile-transition.side-0-2-11,
.tiled-map .tiles-row .tile .tile-transition.side-4-5-11,
.tiled-map .tiles-row .tile .tile-transition.side-4-1-11,
.tiled-map .tiles-row .tile .tile-transition.side-0-1-11 {
    background-position: 0 -240px;
}

.tiled-map .tiles-row .tile .tile-transition.side-0-2-4,
.tiled-map .tiles-row .tile .tile-transition.side-4-5-4,
.tiled-map .tiles-row .tile .tile-transition.side-4-1-4,
.tiled-map .tiles-row .tile .tile-transition.side-0-1-4 {
    background-position: 0 -280px;
}

.tiled-map .tiles-row .tile .tile-transition.side-0-2-12,
.tiled-map .tiles-row .tile .tile-transition.side-4-5-12,
.tiled-map .tiles-row .tile .tile-transition.side-4-1-12,
.tiled-map .tiles-row .tile .tile-transition.side-0-1-12 {
    background-position: 0 -320px;
}

.tiled-map .tiles-row .tile .tile-transition.side-0-2-5,
.tiled-map .tiles-row .tile .tile-transition.side-4-5-5,
.tiled-map .tiles-row .tile .tile-transition.side-4-1-5,
.tiled-map .tiles-row .tile .tile-transition.side-0-1-5 {
    background-position: 0 -360px;
}

.tiled-map .tiles-row .tile .tile-transition.side-0-2-13,
.tiled-map .tiles-row .tile .tile-transition.side-4-5-13,
.tiled-map .tiles-row .tile .tile-transition.side-4-1-13,
.tiled-map .tiles-row .tile .tile-transition.side-0-1-13 {
    background-position: 0 -400px;
}

.tiled-map .tiles-row .tile .tile-transition.side-0-2-6,
.tiled-map .tiles-row .tile .tile-transition.side-4-5-6,
.tiled-map .tiles-row .tile .tile-transition.side-4-1-6,
.tiled-map .tiles-row .tile .tile-transition.side-0-1-6 {
    background-position: 0 -440px;
}

.tiled-map .tiles-row .tile .tile-transition.side-0-2-14,
.tiled-map .tiles-row .tile .tile-transition.side-4-5-14,
.tiled-map .tiles-row .tile .tile-transition.side-4-1-14,
.tiled-map .tiles-row .tile .tile-transition.side-0-1-14 {
    background-position: 0 -480px;
}

.tiled-map .tiles-row .tile .tile-transition.side-0-2-7,
.tiled-map .tiles-row .tile .tile-transition.side-4-5-7,
.tiled-map .tiles-row .tile .tile-transition.side-4-1-7,
.tiled-map .tiles-row .tile .tile-transition.side-0-1-7 {
    background-position: 0 -520px;
}

.tiled-map .tiles-row .tile .tile-transition.side-0-2-15,
.tiled-map .tiles-row .tile .tile-transition.side-4-5-15,
.tiled-map .tiles-row .tile .tile-transition.side-4-1-15,
.tiled-map .tiles-row .tile .tile-transition.side-0-1-15 {
    background-position: 0 -560px;
}
/**************************/
.tiled-map .tiles-row .tile .tile-transition.side-3-0-8,
.tiled-map .tiles-row .tile .tile-transition.side-2-0-8,
.tiled-map .tiles-row .tile .tile-transition.side-1-4-8,
.tiled-map .tiles-row .tile .tile-transition.side-1-0-8 {
    background-position: -40px 0;
}

.tiled-map .tiles-row .tile .tile-transition.side-3-0-1,
.tiled-map .tiles-row .tile .tile-transition.side-2-0-1,
.tiled-map .tiles-row .tile .tile-transition.side-1-4-1,
.tiled-map .tiles-row .tile .tile-transition.side-1-0-1 {
    background-position: -40px -40px;
}

.tiled-map .tiles-row .tile .tile-transition.side-3-0-9,
.tiled-map .tiles-row .tile .tile-transition.side-2-0-9,
.tiled-map .tiles-row .tile .tile-transition.side-1-4-9,
.tiled-map .tiles-row .tile .tile-transition.side-1-0-9 {
    background-position: -40px -80px;
}

.tiled-map .tiles-row .tile .tile-transition.side-3-0-2,
.tiled-map .tiles-row .tile .tile-transition.side-2-0-2,
.tiled-map .tiles-row .tile .tile-transition.side-1-4-2,
.tiled-map .tiles-row .tile .tile-transition.side-1-0-2 {
    background-position: -40px -120px;
}

.tiled-map .tiles-row .tile .tile-transition.side-3-0-10,
.tiled-map .tiles-row .tile .tile-transition.side-2-0-10,
.tiled-map .tiles-row .tile .tile-transition.side-1-4-10,
.tiled-map .tiles-row .tile .tile-transition.side-1-0-10 {
    background-position: -40px -160px;
}

.tiled-map .tiles-row .tile .tile-transition.side-3-0-3,
.tiled-map .tiles-row .tile .tile-transition.side-2-0-3,
.tiled-map .tiles-row .tile .tile-transition.side-1-4-3,
.tiled-map .tiles-row .tile .tile-transition.side-1-0-3 {
    background-position: -40px -200px;
}

.tiled-map .tiles-row .tile .tile-transition.side-3-0-11,
.tiled-map .tiles-row .tile .tile-transition.side-2-0-11,
.tiled-map .tiles-row .tile .tile-transition.side-1-4-11,
.tiled-map .tiles-row .tile .tile-transition.side-1-0-11 {
    background-position: -40px -240px;
}

.tiled-map .tiles-row .tile .tile-transition.side-3-0-4,
.tiled-map .tiles-row .tile .tile-transition.side-2-0-4,
.tiled-map .tiles-row .tile .tile-transition.side-1-4-4,
.tiled-map .tiles-row .tile .tile-transition.side-1-0-4 {
    background-position: -40px -280px;
}

.tiled-map .tiles-row .tile .tile-transition.side-3-0-12,
.tiled-map .tiles-row .tile .tile-transition.side-2-0-12,
.tiled-map .tiles-row .tile .tile-transition.side-1-4-12,
.tiled-map .tiles-row .tile .tile-transition.side-1-0-12 {
    background-position: -40px -320px;
}

.tiled-map .tiles-row .tile .tile-transition.side-3-0-5,
.tiled-map .tiles-row .tile .tile-transition.side-2-0-5,
.tiled-map .tiles-row .tile .tile-transition.side-1-4-5,
.tiled-map .tiles-row .tile .tile-transition.side-1-0-5 {
    background-position: -40px -360px;
}

.tiled-map .tiles-row .tile .tile-transition.side-3-0-13,
.tiled-map .tiles-row .tile .tile-transition.side-2-0-13,
.tiled-map .tiles-row .tile .tile-transition.side-1-4-13,
.tiled-map .tiles-row .tile .tile-transition.side-1-0-13 {
    background-position: -40px -400px;
}

.tiled-map .tiles-row .tile .tile-transition.side-3-0-6,
.tiled-map .tiles-row .tile .tile-transition.side-2-0-6,
.tiled-map .tiles-row .tile .tile-transition.side-1-4-6,
.tiled-map .tiles-row .tile .tile-transition.side-1-0-6 {
    background-position: -40px -440px;
}

.tiled-map .tiles-row .tile .tile-transition.side-3-0-14,
.tiled-map .tiles-row .tile .tile-transition.side-2-0-14,
.tiled-map .tiles-row .tile .tile-transition.side-1-4-14,
.tiled-map .tiles-row .tile .tile-transition.side-1-0-14 {
    background-position: -40px -480px;
}

.tiled-map .tiles-row .tile .tile-transition.side-3-0-7,
.tiled-map .tiles-row .tile .tile-transition.side-2-0-7,
.tiled-map .tiles-row .tile .tile-transition.side-1-4-7,
.tiled-map .tiles-row .tile .tile-transition.side-1-0-7 {
    background-position: -40px -520px;
}

.tiled-map .tiles-row .tile .tile-transition.side-3-0-15,
.tiled-map .tiles-row .tile .tile-transition.side-2-0-15,
.tiled-map .tiles-row .tile .tile-transition.side-1-4-15,
.tiled-map .tiles-row .tile .tile-transition.side-1-0-15 {
    background-position: -40px -560px;
}
/**************************/
.tiled-map .tiles-row .tile .tile-transition.side-1-4-8 {
    background-position: -80px 0;
}

.tiled-map .tiles-row .tile .tile-transition.side-1-4-1 {
    background-position: -80px -40px;
}

.tiled-map .tiles-row .tile .tile-transition.side-1-4-9 {
    background-position: -80px -80px;
}

.tiled-map .tiles-row .tile .tile-transition.side-1-4-2 {
    background-position: -80px -120px;
}

.tiled-map .tiles-row .tile .tile-transition.side-1-4-10 {
    background-position: -80px -160px;
}

.tiled-map .tiles-row .tile .tile-transition.side-1-4-3 {
    background-position: -80px -200px;
}

.tiled-map .tiles-row .tile .tile-transition.side-1-4-11 {
    background-position: -80px -240px;
}

.tiled-map .tiles-row .tile .tile-transition.side-1-4-4 {
    background-position: -80px -280px;
}

.tiled-map .tiles-row .tile .tile-transition.side-1-4-12 {
    background-position: -80px -320px;
}

.tiled-map .tiles-row .tile .tile-transition.side-1-4-5 {
    background-position: -80px -360px;
}

.tiled-map .tiles-row .tile .tile-transition.side-1-4-13 {
    background-position: -80px -400px;
}

.tiled-map .tiles-row .tile .tile-transition.side-1-4-6 {
    background-position: -80px -440px;
}

.tiled-map .tiles-row .tile .tile-transition.side-1-4-14 {
    background-position: -80px -480px;
}

.tiled-map .tiles-row .tile .tile-transition.side-1-4-7 {
    background-position: -80px -520px;
}

.tiled-map .tiles-row .tile .tile-transition.side-1-4-15 {
    background-position: -80px -560px;
}
/**************************/
.tiled-map .tiles-row .tile .tile-transition.side-5-1-8 {
    background-position: -120px 0;
}

.tiled-map .tiles-row .tile .tile-transition.side-5-1-1 {
    background-position: -120px -40px;
}

.tiled-map .tiles-row .tile .tile-transition.side-5-1-9 {
    background-position: -120px -80px;
}

.tiled-map .tiles-row .tile .tile-transition.side-5-1-2 {
    background-position: -120px -120px;
}

.tiled-map .tiles-row .tile .tile-transition.side-5-1-10 {
    background-position: -120px -160px;
}

.tiled-map .tiles-row .tile .tile-transition.side-5-1-3 {
    background-position: -120px -200px;
}

.tiled-map .tiles-row .tile .tile-transition.side-5-1-11 {
    background-position: -120px -240px;
}

.tiled-map .tiles-row .tile .tile-transition.side-5-1-4 {
    background-position: -120px -280px;
}

.tiled-map .tiles-row .tile .tile-transition.side-5-1-12 {
    background-position: -120px -320px;
}

.tiled-map .tiles-row .tile .tile-transition.side-5-1-5 {
    background-position: -120px -360px;
}

.tiled-map .tiles-row .tile .tile-transition.side-5-1-13 {
    background-position: -120px -400px;
}

.tiled-map .tiles-row .tile .tile-transition.side-5-1-6 {
    background-position: -120px -440px;
}

.tiled-map .tiles-row .tile .tile-transition.side-5-1-14 {
    background-position: -120px -480px;
}

.tiled-map .tiles-row .tile .tile-transition.side-5-1-7 {
    background-position: -120px -520px;
}

.tiled-map .tiles-row .tile .tile-transition.side-5-1-15 {
    background-position: -120px -560px;
}
/**************************/
.tiled-map .tiles-row .tile .tile-transition.side-5-4-8 {
    background-position: -160px 0;
}

.tiled-map .tiles-row .tile .tile-transition.side-5-4-1 {
    background-position: -160px -40px;
}

.tiled-map .tiles-row .tile .tile-transition.side-5-4-9 {
    background-position: -160px -80px;
}

.tiled-map .tiles-row .tile .tile-transition.side-5-4-2 {
    background-position: -160px -120px;
}

.tiled-map .tiles-row .tile .tile-transition.side-5-4-10 {
    background-position: -160px -160px;
}

.tiled-map .tiles-row .tile .tile-transition.side-5-4-3 {
    background-position: -160px -200px;
}

.tiled-map .tiles-row .tile .tile-transition.side-5-4-11 {
    background-position: -160px -240px;
}

.tiled-map .tiles-row .tile .tile-transition.side-5-4-4 {
    background-position: -160px -280px;
}

.tiled-map .tiles-row .tile .tile-transition.side-5-4-12 {
    background-position: -160px -320px;
}

.tiled-map .tiles-row .tile .tile-transition.side-5-4-5 {
    background-position: -160px -360px;
}

.tiled-map .tiles-row .tile .tile-transition.side-5-4-13 {
    background-position: -160px -400px;
}

.tiled-map .tiles-row .tile .tile-transition.side-5-4-6 {
    background-position: -160px -440px;
}

.tiled-map .tiles-row .tile .tile-transition.side-5-4-14 {
    background-position: -160px -480px;
}

.tiled-map .tiles-row .tile .tile-transition.side-5-4-7 {
    background-position: -160px -520px;
}

.tiled-map .tiles-row .tile .tile-transition.side-5-4-15 {
    background-position: -160px -560px;
}
/**************************/
.tiled-map .tiles-row .tile .tile-transition.side-3-5-8,
.tiled-map .tiles-row .tile .tile-transition.side-3-1-8,
.tiled-map .tiles-row .tile .tile-transition.side-2-5-8,
.tiled-map .tiles-row .tile .tile-transition.side-2-1-8 {
    background-position: -200px 0;
}

.tiled-map .tiles-row .tile .tile-transition.side-3-5-1,
.tiled-map .tiles-row .tile .tile-transition.side-3-1-1,
.tiled-map .tiles-row .tile .tile-transition.side-2-5-1,
.tiled-map .tiles-row .tile .tile-transition.side-2-1-1 {
    background-position: -200px -40px;
}

.tiled-map .tiles-row .tile .tile-transition.side-3-5-9,
.tiled-map .tiles-row .tile .tile-transition.side-3-1-9,
.tiled-map .tiles-row .tile .tile-transition.side-2-5-9,
.tiled-map .tiles-row .tile .tile-transition.side-2-1-9 {
    background-position: -200px -80px;
}

.tiled-map .tiles-row .tile .tile-transition.side-3-5-2,
.tiled-map .tiles-row .tile .tile-transition.side-3-1-2,
.tiled-map .tiles-row .tile .tile-transition.side-2-5-2,
.tiled-map .tiles-row .tile .tile-transition.side-2-1-2 {
    background-position: -200px -120px;
}

.tiled-map .tiles-row .tile .tile-transition.side-3-5-10,
.tiled-map .tiles-row .tile .tile-transition.side-3-1-10,
.tiled-map .tiles-row .tile .tile-transition.side-2-5-10,
.tiled-map .tiles-row .tile .tile-transition.side-2-1-10 {
    background-position: -200px -160px;
}

.tiled-map .tiles-row .tile .tile-transition.side-3-5-3,
.tiled-map .tiles-row .tile .tile-transition.side-3-1-3,
.tiled-map .tiles-row .tile .tile-transition.side-2-5-3,
.tiled-map .tiles-row .tile .tile-transition.side-2-1-3 {
    background-position: -200px -200px;
}

.tiled-map .tiles-row .tile .tile-transition.side-3-5-11,
.tiled-map .tiles-row .tile .tile-transition.side-3-1-11,
.tiled-map .tiles-row .tile .tile-transition.side-2-5-11,
.tiled-map .tiles-row .tile .tile-transition.side-2-1-11 {
    background-position: -200px -240px;
}

.tiled-map .tiles-row .tile .tile-transition.side-3-5-4,
.tiled-map .tiles-row .tile .tile-transition.side-3-1-4,
.tiled-map .tiles-row .tile .tile-transition.side-2-5-4,
.tiled-map .tiles-row .tile .tile-transition.side-2-1-4 {
    background-position: -200px -280px;
}

.tiled-map .tiles-row .tile .tile-transition.side-3-5-12,
.tiled-map .tiles-row .tile .tile-transition.side-3-1-12,
.tiled-map .tiles-row .tile .tile-transition.side-2-5-12,
.tiled-map .tiles-row .tile .tile-transition.side-2-1-12 {
    background-position: -200px -320px;
}

.tiled-map .tiles-row .tile .tile-transition.side-3-5-5,
.tiled-map .tiles-row .tile .tile-transition.side-3-1-5,
.tiled-map .tiles-row .tile .tile-transition.side-2-5-5,
.tiled-map .tiles-row .tile .tile-transition.side-2-1-5 {
    background-position: -200px -360px;
}

.tiled-map .tiles-row .tile .tile-transition.side-3-5-13,
.tiled-map .tiles-row .tile .tile-transition.side-3-1-13,
.tiled-map .tiles-row .tile .tile-transition.side-2-5-13,
.tiled-map .tiles-row .tile .tile-transition.side-2-1-13 {
    background-position: -200px -400px;
}

.tiled-map .tiles-row .tile .tile-transition.side-3-5-6,
.tiled-map .tiles-row .tile .tile-transition.side-3-1-6,
.tiled-map .tiles-row .tile .tile-transition.side-2-5-6,
.tiled-map .tiles-row .tile .tile-transition.side-2-1-6 {
    background-position: -200px -440px;
}

.tiled-map .tiles-row .tile .tile-transition.side-3-5-14,
.tiled-map .tiles-row .tile .tile-transition.side-3-1-14,
.tiled-map .tiles-row .tile .tile-transition.side-2-5-14,
.tiled-map .tiles-row .tile .tile-transition.side-2-1-14 {
    background-position: -200px -480px;
}

.tiled-map .tiles-row .tile .tile-transition.side-3-5-7,
.tiled-map .tiles-row .tile .tile-transition.side-3-1-7,
.tiled-map .tiles-row .tile .tile-transition.side-2-5-7,
.tiled-map .tiles-row .tile .tile-transition.side-2-1-7 {
    background-position: -200px -520px;
}

.tiled-map .tiles-row .tile .tile-transition.side-3-5-15,
.tiled-map .tiles-row .tile .tile-transition.side-3-1-15,
.tiled-map .tiles-row .tile .tile-transition.side-2-5-15,
.tiled-map .tiles-row .tile .tile-transition.side-2-1-15 {
    background-position: -200px -560px;
}
/**************************/
.tiled-map .tiles-row .tile .tile-transition.side-4-3-8,
.tiled-map .tiles-row .tile .tile-transition.side-4-2-8,
.tiled-map .tiles-row .tile .tile-transition.side-2-3-8,
.tiled-map .tiles-row .tile .tile-transition.side-2-4-8 {
    background-position: -240px 0;
}

.tiled-map .tiles-row .tile .tile-transition.side-4-3-1,
.tiled-map .tiles-row .tile .tile-transition.side-4-2-1,
.tiled-map .tiles-row .tile .tile-transition.side-2-3-1,
.tiled-map .tiles-row .tile .tile-transition.side-2-4-1 {
    background-position: -240px -40px;
}

.tiled-map .tiles-row .tile .tile-transition.side-4-3-9,
.tiled-map .tiles-row .tile .tile-transition.side-4-2-9,
.tiled-map .tiles-row .tile .tile-transition.side-2-3-9,
.tiled-map .tiles-row .tile .tile-transition.side-2-4-9 {
    background-position: -240px -80px;
}

.tiled-map .tiles-row .tile .tile-transition.side-4-3-2,
.tiled-map .tiles-row .tile .tile-transition.side-4-2-2,
.tiled-map .tiles-row .tile .tile-transition.side-2-3-2,
.tiled-map .tiles-row .tile .tile-transition.side-2-4-2 {
    background-position: -240px -120px;
}

.tiled-map .tiles-row .tile .tile-transition.side-4-3-10,
.tiled-map .tiles-row .tile .tile-transition.side-4-2-10,
.tiled-map .tiles-row .tile .tile-transition.side-2-3-10,
.tiled-map .tiles-row .tile .tile-transition.side-2-4-10 {
    background-position: -240px -160px;
}

.tiled-map .tiles-row .tile .tile-transition.side-4-3-3,
.tiled-map .tiles-row .tile .tile-transition.side-4-2-3,
.tiled-map .tiles-row .tile .tile-transition.side-2-3-3,
.tiled-map .tiles-row .tile .tile-transition.side-2-4-3 {
    background-position: -240px -200px;
}

.tiled-map .tiles-row .tile .tile-transition.side-4-3-11,
.tiled-map .tiles-row .tile .tile-transition.side-4-2-11,
.tiled-map .tiles-row .tile .tile-transition.side-2-3-11,
.tiled-map .tiles-row .tile .tile-transition.side-2-4-11 {
    background-position: -240px -240px;
}

.tiled-map .tiles-row .tile .tile-transition.side-4-3-4,
.tiled-map .tiles-row .tile .tile-transition.side-4-2-4,
.tiled-map .tiles-row .tile .tile-transition.side-2-3-4,
.tiled-map .tiles-row .tile .tile-transition.side-2-4-4 {
    background-position: -240px -280px;
}

.tiled-map .tiles-row .tile .tile-transition.side-4-3-12,
.tiled-map .tiles-row .tile .tile-transition.side-4-2-12,
.tiled-map .tiles-row .tile .tile-transition.side-2-3-12,
.tiled-map .tiles-row .tile .tile-transition.side-2-4-12 {
    background-position: -240px -320px;
}

.tiled-map .tiles-row .tile .tile-transition.side-4-3-5,
.tiled-map .tiles-row .tile .tile-transition.side-4-2-5,
.tiled-map .tiles-row .tile .tile-transition.side-2-3-5,
.tiled-map .tiles-row .tile .tile-transition.side-2-4-5 {
    background-position: -240px -360px;
}

.tiled-map .tiles-row .tile .tile-transition.side-4-3-13,
.tiled-map .tiles-row .tile .tile-transition.side-4-2-13,
.tiled-map .tiles-row .tile .tile-transition.side-2-3-13,
.tiled-map .tiles-row .tile .tile-transition.side-2-4-13 {
    background-position: -240px -400px;
}

.tiled-map .tiles-row .tile .tile-transition.side-4-3-6,
.tiled-map .tiles-row .tile .tile-transition.side-4-2-6,
.tiled-map .tiles-row .tile .tile-transition.side-2-3-6,
.tiled-map .tiles-row .tile .tile-transition.side-2-4-6 {
    background-position: -240px -440px;
}

.tiled-map .tiles-row .tile .tile-transition.side-4-3-14,
.tiled-map .tiles-row .tile .tile-transition.side-4-2-14,
.tiled-map .tiles-row .tile .tile-transition.side-2-3-14,
.tiled-map .tiles-row .tile .tile-transition.side-2-4-14 {
    background-position: -240px -480px;
}

.tiled-map .tiles-row .tile .tile-transition.side-4-3-7,
.tiled-map .tiles-row .tile .tile-transition.side-4-2-7,
.tiled-map .tiles-row .tile .tile-transition.side-2-3-7,
.tiled-map .tiles-row .tile .tile-transition.side-2-4-7 {
    background-position: -240px -520px;
}

.tiled-map .tiles-row .tile .tile-transition.side-4-3-15,
.tiled-map .tiles-row .tile .tile-transition.side-4-2-15,
.tiled-map .tiles-row .tile .tile-transition.side-2-3-15,
.tiled-map .tiles-row .tile .tile-transition.side-2-4-15 {
    background-position: -240px -560px;
}
/**************************/
.tiled-map .tiles-row .tile .tile-transition.side-0-4-8 {
    background-position: -280px 0;
}

.tiled-map .tiles-row .tile .tile-transition.side-0-4-1 {
    background-position: -280px -40px;
}

.tiled-map .tiles-row .tile .tile-transition.side-0-4-9 {
    background-position: -280px -80px;
}

.tiled-map .tiles-row .tile .tile-transition.side-0-4-2 {
    background-position: -280px -120px;
}

.tiled-map .tiles-row .tile .tile-transition.side-0-4-10 {
    background-position: -280px -160px;
}

.tiled-map .tiles-row .tile .tile-transition.side-0-4-3 {
    background-position: -280px -200px;
}

.tiled-map .tiles-row .tile .tile-transition.side-0-4-11 {
    background-position: -280px -240px;
}

.tiled-map .tiles-row .tile .tile-transition.side-0-4-4 {
    background-position: -280px -280px;
}

.tiled-map .tiles-row .tile .tile-transition.side-0-4-12 {
    background-position: -280px -320px;
}

.tiled-map .tiles-row .tile .tile-transition.side-0-4-5 {
    background-position: -280px -360px;
}

.tiled-map .tiles-row .tile .tile-transition.side-0-4-13 {
    background-position: -280px -400px;
}

.tiled-map .tiles-row .tile .tile-transition.side-0-4-6 {
    background-position: -280px -440px;
}

.tiled-map .tiles-row .tile .tile-transition.side-0-4-14 {
    background-position: -280px -480px;
}

.tiled-map .tiles-row .tile .tile-transition.side-0-4-7 {
    background-position: -280px -520px;
}

.tiled-map .tiles-row .tile .tile-transition.side-0-4-15 {
    background-position: -280px -560px;
}
/**************************/
