body {
	overflow: hidden;
	background-color: #01033b;
}
.tiled-map {

}
.tiled-map .tiles-row {
    white-space:nowrap;
    margin: 0;
    padding: 0;
    height: 40px;
}
.mob {
    cursor: pointer;
    width: 40px;
    height:40px;
    position: absolute;
    background-image: url('animal.gif');
}
.mob .name {
    position: absolute;
    color: white;
    font-size: 9px;
    width: 120px;
    text-align: center;
    margin-top: -10px;
    margin-left: -40px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    z-index: 10;
}
.mob .status {
    position: absolute;
    border: 1px solid #444;
    height: 5px;
    width: 40px;
    text-align: center;
    margin-top: 35px;
    margin-left: 0;
    background-color: #666;
    padding: 1px;
    z-index: 5;
}
.mob .status .healthbar {
    height: 2px;
    background-color: #ff1111;
    margin-bottom: 1px;
}
.mob .status .satietybar {
    height: 2px;
    background-color: #ffff66;
}
.mob.selected {
    border: 1px dotted #cccccc;
    margin-top: -1px;
    margin-left: -1px;
}
/**************************
 *  Actions
 **************************/
 .action {
    position: absolute;
	background-image: url('actions.gif');
	width: 40px;
	height: 40px;
 }
 .action.type-0 {
	background-position: 0 0;
	margin-top: -20px;
 }
 .action.type-3 {
	background-position: 0 -40px;
 }
/**************************
 *  Mobs
 **************************/
.mob.model-1 ,
.mob.model-1.dir-E,
.mob.model-1.dir-N.dir-E {
    background-position: 0 0;
}
.mob.model-1.dir-N,
.mob.model-1.dir-N.dir-W {
    background-position: 0 -40px;
}
.mob.model-1.dir-S,
.mob.model-1.dir-S.dir-E {
    background-position: 0 -80px;
}
.mob.model-1.dir-W,
.mob.model-1.dir-S.dir-W {
    background-position: 0 -120px;
}
.mob.model-2 ,
.mob.model-2.dir-E,
.mob.model-2.dir-N.dir-E {
    background-position: -40px 0;
}
.mob.model-2.dir-N,
.mob.model-2.dir-N.dir-W {
    background-position: -40px -40px;
}
.mob.model-2.dir-S,
.mob.model-2.dir-S.dir-E {
    background-position: -40px -80px;
}
.mob.model-2.dir-W,
.mob.model-2.dir-S.dir-W {
    background-position: -40px -120px;
}
.mob.model-3 ,
.mob.model-3.dir-E,
.mob.model-3.dir-N.dir-E {
    background-position: -80px 0;
}
.mob.model-3.dir-N,
.mob.model-3.dir-N.dir-W {
    background-position: -80px -40px;
}
.mob.model-3.dir-S,
.mob.model-3.dir-S.dir-E {
    background-position: -80px -80px;
}
.mob.model-3.dir-W,
.mob.model-3.dir-S.dir-W {
    background-position: -80px -120px;
}
/**************************
 *  Objects
 **************************/
 .tile .object {
    width: 40px;
    height: 40px;
    position: absolute;
}
.object.model-food-1 {
    background-image: url('food/apple.gif');
}
.object.model-food-2 {
    background-image: url('food/ham.gif');
}

.object.eaten-10 {
    background-position: 0 0;
}
.object.eaten-9 {
    background-position: 0 -40px;
}
.object.eaten-8 {
    background-position: 0 -80px;
}
.object.eaten-7 {
    background-position: 0 -120px;
}
.object.eaten-6 {
    background-position: 0 -160px;
}
.object.eaten-5 {
    background-position: 0 -200px;
}
.object.eaten-4 {
    background-position: 0 -240px;
}
.object.eaten-3 {
    background-position: 0 -280px;
}
.object.eaten-2 {
    background-position: 0 -320px;
}
.object.eaten-1 {
    background-position: 0 -360px;
}
/**************************
 *  Tiles
 **************************/
.tiled-map .tiles-row .tile {
    display: inline-block;
    width: 40px;
    height: 40px;
}
.tiled-map .tiles-row .tile.tile-0 {
    background-image: url('terrain/0.gif');
}
.tiled-map .tiles-row .tile.tile-1 {
    background-image: url('terrain/1.gif');
}
.tiled-map .tiles-row .tile.tile-2 {
    background-image: url('terrain/2.gif');
}
.tiled-map .tiles-row .tile.tile-3 {
    background-image: url('terrain/3.gif');
}
.tiled-map .tiles-row .tile.tile-4 {
    background-image: url('terrain/4.gif');
}
.tiled-map .tiles-row .tile.tile-5 {
    background-image: url('terrain/5.gif');
}
.tiled-map .tiles-row .tile.var-1 {
    background-position: 0 0;
}
.tiled-map .tiles-row .tile.var-2 {
    background-position: 0 -40px;
}
.tiled-map .tiles-row .tile.var-3 {
    background-position: 0 -80px;
}
.tiled-map .tiles-row .tile.var-4 {
    background-position: 0 -120px;
}
.tiled-map .tiles-row .tile.var-5 {
    background-position: 0 -160px;
}
.tiled-map .tiles-row .tile.var-6 {
    background-position: 0 -200px;
}
.tiled-map .tiles-row .tile.var-7 {
    background-position: 0 -240px;
}
.tiled-map .tiles-row .tile.var-8 {
    background-position: 0 -280px;
}
/**************************
 *  Transitions
 **************************/
.tiled-map .tiles-row .tile .transition {
    position: absolute;
    width: 40px;
    height: 40px;
}
.tiled-map .tiles-row .tile .transition.type-0-3,
.tiled-map .tiles-row .tile .transition.type-0-2,
.tiled-map .tiles-row .tile .transition.type-4-5,
.tiled-map .tiles-row .tile .transition.type-4-1,
.tiled-map .tiles-row .tile .transition.type-0-1 {
    background-image: url('terrain/transition/0.gif');
}
.tiled-map .tiles-row .tile .transition.type-3-0,
.tiled-map .tiles-row .tile .transition.type-2-0,
.tiled-map .tiles-row .tile .transition.type-1-4,
.tiled-map .tiles-row .tile .transition.type-1-0 {
    background-image: url('terrain/transition/1.gif');
}
.tiled-map .tiles-row .tile .transition.type-1-4 {
    background-image: url('terrain/transition/2.gif');
}
.tiled-map .tiles-row .tile .transition.type-5-1 {
    background-image: url('terrain/transition/3.gif');
}
.tiled-map .tiles-row .tile .transition.type-5-4 {
    background-image: url('terrain/transition/4.gif');
}
.tiled-map .tiles-row .tile .transition.type-3-5,
.tiled-map .tiles-row .tile .transition.type-3-1,
.tiled-map .tiles-row .tile .transition.type-2-5,
.tiled-map .tiles-row .tile .transition.type-2-1 {
    background-image: url('terrain/transition/5.gif');
}
.tiled-map .tiles-row .tile .transition.type-4-3,
.tiled-map .tiles-row .tile .transition.type-4-2,
.tiled-map .tiles-row .tile .transition.type-2-3,
.tiled-map .tiles-row .tile .transition.type-2-4 {
    background-image: url('terrain/transition/6.gif');
}
.tiled-map .tiles-row .tile .transition.type-0-4 {
    background-image: url('terrain/transition/7.gif');
}
/**************************/
.tiled-map .tiles-row .tile .transition.side-8 {
    background-position: 0 0;
}
.tiled-map .tiles-row .tile .transition.side-1 {
    background-position: 0 -40px;
}
.tiled-map .tiles-row .tile .transition.side-9 {
    background-position: 0 -80px;
}
.tiled-map .tiles-row .tile .transition.side-2 {
    background-position: 0 -120px;
}
.tiled-map .tiles-row .tile .transition.side-10 {
    background-position: 0 -160px;
}
.tiled-map .tiles-row .tile .transition.side-3 {
    background-position: 0 -200px;
}
.tiled-map .tiles-row .tile .transition.side-11 {
    background-position: 0 -240px;
}
.tiled-map .tiles-row .tile .transition.side-4 {
    background-position: 0 -280px;
}
.tiled-map .tiles-row .tile .transition.side-12 {
    background-position: 0 -320px;
}
.tiled-map .tiles-row .tile .transition.side-5 {
    background-position: 0 -360px;
}
.tiled-map .tiles-row .tile .transition.side-13 {
    background-position: 0 -400px;
}
.tiled-map .tiles-row .tile .transition.side-6 {
    background-position: 0 -440px;
}
.tiled-map .tiles-row .tile .transition.side-14 {
    background-position: 0 -480px;
}
.tiled-map .tiles-row .tile .transition.side-7 {
    background-position: 0 -520px;
}
.tiled-map .tiles-row .tile .transition.side-15 {
    background-position: 0 -560px;
}
